.App {
  text-align: center;

    &-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px;
    }

    &-header {
      background-color: var(--color-default-222);
      height: 150px;
      padding: 20px;
      color: white;
    }

    &-title {
      font-size: 1.5em;
    }

    &-intro {
      font-size: large; 
    }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav {
  ul {
    text-align: center;

    li {
      display: inline-block;
      margin: 10px 10px 2px;

      a {
        background-color: #222;
        color: #eee !important;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
      }
    }
  }
}

form {
  margin-top: 50px;
  max-width: 700px;

  input {
    margin-bottom: 20px;
  }
}

.grid {
  padding: 40px;
  &.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 1rem;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      background-color: #557cf2;
      font: 50px Helvetica, san-serif;
      color: #fff;

      &.item2 {
       grid-column-start: 2;
       grid-column-end: 4;
      }

      &.item3 {
        grid-row-start: 2;
        grid-row-end: 4;
      }

      &.item6 {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }
  &.mosaico {
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 1px;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      font: 50px Helvetica, san-serif;
      color: #fff;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
      }

      &.item2 {
       grid-column-start: 2;
       grid-column-end: 4;
      }

      &.item3 {
        grid-row-start: 2;
        grid-row-end: 4;
      }

      &.item6 {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }
}
