.modal {
  display: block;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  z-index: 1000;

  .modal-content {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    border-radius: 5px;
    display: block;
    padding: 37px 20px 20px;
    position: fixed;
    top: calc(50% - 40%);
    left:  calc(50% - 175px);
    max-height: 80%;
    overflow: auto;
    width: 350px;
    z-index: 100;
    text-align: center;

    i {
      &.fas {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 20px;
        z-index: 20;
        cursor: pointer;
        color: var(--color-default-primary);
      }
    }

    h3 {
      border-bottom: 1px solid;
      font-weight: bold;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    button {
      margin: 20px 7px;
      border: none;
      background-color: var(--color-default-primary);
      color: #fff;
      width: auto;
      font-size: 16px;
      padding: 10px 30px;

      &.cancelButton {
        background-color: #5a5a5a;
      }

      &.confirmButton {
        background-color: #568a58;
      }
    }
  }
}
