:root {
  --color-default-222: #222;
  --color-default-b1: #b5b5b5;
  --color-default-333: #333;
  --color-default-FFF: rgba(255, 255, 255, 1);
  --comum-color: #666;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strong, sub,
sup, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar { display: none; }
::-moz-scrollbar { display: none; }
::-ms-scrollbar { display: none; }
::-o-scrollbar { display: none; }
::scrollbar { display: none; }

html {
  height: 100%;

  body {
    background: var(--color-default-FFF);
    color: var(--color-default-222);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100.01%;
    height: 100%;
    line-height: 1;
    text-size-adjust: 100%;
  } /* end body */
} /* end html */

    .full-height {
      height: 100%;
    }

    .full-height {
      height: 100%;
    }

    ol, ul {
      list-style: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      
      th {
        font-weight:normal;
      }
    }

    label, button, input[type="submit"] {
      cursor:pointer;
    }

    a, a:visited, a:active, a:focus {
      text-decoration: none;
      color:var(--color-default-333);
      outline:none;
    }

    a {
      &:hover {
        text-decoration: none;
        color:#000;
      }
    }

    input, textarea, select {
      width: 100%;
      outline: none;
    }

    input {
      &::-webkit-input-placeholder {
        color:var(--color-default-b1);
      }

      &:-moz-placeholder {
        color:var(--color-default-b1);
        opacity:1;
      }

      &::-moz-placeholder {
        color:var(--color-default-b1);
        opacity:1;
      }

      &:-ms-input-placeholder {
        color:var(--color-default-b1);
      }

      &[type='radio'],
      &[type='checkbox'] {
        width: auto;
        vertical-align: middle;
        margin: 0 3px 0 10px;
      }
    }

    textarea {
      height:100px;
      margin-bottom: 20px;
      width:100%;

      &::-webkit-input-placeholder {
        color:var(--color-default-b1);
      }

      &:-moz-placeholder {
        color:var(--color-default-b1);
        opacity:1;
      }

      &::-moz-placeholder {
        color:var(--color-default-b1);
        opacity:1;
      }

      &:-ms-input-placeholder {
        color:var(--color-default-b1);
      }
    }

    select{
      cursor: pointer;
      appearance: none;
      text-indent: 0.01px;
      text-overflow: '';

      &::-webkit-input-placeholder {
        color:var(--color-default-b1);
      }

      &:-moz-placeholder {
        color:var(--color-default-b1);
        opacity:1;
      }

      &::-moz-placeholder {
        color:var(--color-default-b1);
        opacity:1;
      }

      &:-ms-input-placeholder {
        color:var(--color-default-b1);
      }

      &::-ms-expand {
        display: none;
      }

      &:focus {
        outline: none;
      }

      option {
        padding: 2px;
      }
    }

    span {
      &.clear {
        display:block;
        clear:both;
        height: 0;
      }

      &.space{
        display:block;
        margin:10px 0;
        height:1px; clear:both;
      }
    }

    .transition, .transition:hover {
      -webkit-transition:all 0.3s ease-in ;
      -moz-transition:all 0.3s ease-in ;
      -ms-transition:all 0.3s ease-in ;
      transition:all 0.3s ease-in ;
    }

    ::selection {
      background: var(--color-default-333);
      color: #eee;
    }

    .clear:after{
      content:'';
      display:block;
      clear:both;
    }

    .pointer {
      cursor: pointer;
    }

    .align-left {
      text-align:left;
    }

    .align-right {
      text-align:right;
    }

    .align-center {
      text-align:center;
    }

    .align-justify {
      text-align:justify;
    }

    .float-right {
      float: right !important;
    }

    .float-left {
      float: left !important;
    }

    .center{
      display:block !important;
      margin-left:auto !important;
      margin-right:auto !important;
    }

    .margin-top {
      margin-top:2rem;
    }

    .comum-color{
      color: var(--comum-color);
      text-shadow: 0 0 1px rgba(0,0,0, 0.2);
    }

    .relative{
      position:relative;
    }

    .squad{
      display:block;
      width:1280px;
      margin:0 auto;

      @media (max-width: 1336px) {
        width:1170px;
      }

      @media (max-width: 1280px){
        width:1000px;
      }

      @media (max-width: 1024px) {
        width:760px;
      }

      @media (max-width: 820px) {
        width:100%;
      }
    }

    .button {
      background: var(--color-default-222);
      border: none;
      color: var(--color-default-FFF);
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      display: inline-block;
      margin: 1rem 0;
      padding: 10px 20px;
      width: 100%;

      i {
        margin: 0 5px;
      }
    }

.format-style {
  h1, h2, h3, h4, h5, h6 {
    line-height: 70px;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 27px;
  }

  h5 {
    font-size: 25px;
  }

  h6 {
    font-size: 23px;
  }

  hr {
    margin:30px 0;
  }

  a {
    text-decoration:underline;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  p, dd {
    line-height:25px;
    margin-bottom:25px;
    font-size:14px;
  }

  dt {
    font-size: 18px;
    line-height: 25px;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
  }

  ul, ol {
    margin-left:20px;
  }

  ul {
    li {
      list-style:disc;
      line-height:20px;
    }
  }

  ol {
    li {
      list-style:decimal;
      line-height:20px;
    }
  }

  fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 24px;
    padding: 11px 12px;
  }

  label {
    margin-bottom: 15px;
    display: block;
  }

  input[type="radio"],
  input[type="checkbox"] {
    width:auto;
    height:auto
  }

  input, textarea, select {
    margin-top: 5px;
  }

  button, input.button {
    padding:10px 20px;
    text-transform:uppercase;
    border: 1px solid rgba(255,255,255,0.4);
    cursor:pointer;
    outline:none;
    border: 1px solid rgba(0,0,0,0.4);
    height: auto;
  }

  table {
    td, th {
      border:1px solid rgba(0, 0, 0, 0.1);
      padding:10px;
    }

    td {
      font-size:14px;
    }

    th {
      text-transform:uppercase;
      font-family: 'Open Sans', sans-serif;
      text-align:left;
    }
  }

  pre{
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 24px;
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    background:#fdfdfd;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  blockquote{
    position: relative;
    padding: 30px 64px 10px;
    font-size: 34px;
    color: #D7D6D6;
    font-weight: bold;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 4px 4px rgba(197, 197, 197, 0.07);

    &:before{
      content:'\f10d';
      position:absolute;
      top:11px;
      left:0;
      font-size:60px;
      font-family:FontAwesome;
      -webkit-transform:rotate(11deg);
      -moz-transform:rotate(11deg);
      -ms-transform:rotate(11deg);
      transform:rotate(11deg);
    }

    &:after{
      content:'\f10e';
      position:absolute;
      bottom:11px;
      right:0;
      font-size:60px;
      font-family:FontAwesome;
      -webkit-transform:rotate(11deg);
      -moz-transform:rotate(11deg);
      -ms-transform:rotate(11deg);
      transform:rotate(11deg);
      }

    & * {
      color: #D7D6D6;
      line-height: 40px;
    }
  }

  strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
} /* end format-style */


.admin-section {
  padding-bottom: 120px;

  h2 {
    padding: 20px;
    background-color: #333;
    color: #ddd;
  }

  .tab-content {
    width: 80%;
    margin: 0 auto;

    .box-message {
      width: 100%;
      padding: 10px 20px;

      &:nth-child(odd) {
        background-color: #eee;
      }

      .text {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 100px);

        p {
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
      .action-buttons {
        width: 100px;
        display: inline-block;

        button {
          width: 40px;
          height: 40px;
          float: right;
          margin-left: 10px;
        }
      }

      .item {
        display: inline-block;
        vertical-align: top;

        &:nth-child(1) {
          width: 60%;
        }

        &:nth-child(2), &:nth-child(3) {
          width: 20%;
        }

        &:nth-child(4), &:nth-child(5) {
          width: 50%;
        }

        &:nth-child(6) {
          width: 100%;
        }

        span {
          font-size: 11px;
          margin-bottom: 3px;
          display: block;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}


.default-nav {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 100;

  ul {
    width: 100px;

    li {
      display: inline-block;
      width: 50%;

      a {
        i {
          font-size: 30px;
          color: #666
        }
      }
    }
  }
}
